@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(./_loader.css);
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1a1a1a;
  font-family: Poppins;
}
a:link {
  text-decoration: none;
  font-weight: bold;
}
a,
a:visited {
  color: #00376b;
}
/***********TOP BAR***********************/
.topbar {
  height: 7vh;
  display: flex;
  background-color: #1a1a1a;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}
/***********LEFT******/
.topbar .left {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.topbar .left .fas {
  margin-right: 10px;
  color: #fff;
}
/*************************/

/***********RIGHT******/
.topbar .right {
  margin: 0 10px;
}
/*************************/

/*******************************************/

/*******************PROFIILE*************/
.profile .cont {
  display: flex;
  justify-content: space-between;
  height: 25vh;
  margin-top: 25px;
  align-items: center;
  padding: 0 20px;
}
/***********RIGHT******/
.profile .cont .right {
  display: flex;
}
.profile .cont .right .dp {
  border-radius: 100px;
  width: 110px;
  height: 110px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 55%,
    rgba(252, 176, 69, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .cont .right .dp .pic {
  border-radius: 100px;
  width: 100px;
  border: 2px solid #1a1a1a;
}
/*************************/
/***********LEFT******/
.profile .cont .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.left .stats {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.left .stats .stat {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

/*********BUTTONS*******/
.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
}
.btns .btn-follow {
  padding: 5px 25px;
  background-color: #0095f6;
}
.btns .btn-follow.active {
  background-color: #000;
  border: 0.5px solid #fff;
}
.btns .btn-pfl {
  padding: 5px 15px;
  display: none;
  background-color: #000;
  border: 0.5px solid #fff;
}
.btns .btn-icon {
  padding: 8px 12px;
  background-color: #000;
  border: 0.5px solid #fff;
}
.btn-icon.active {
  background-color: #fff;
  color: #000;
}
/*************************/

/*************************/
/************BIO************/
.bio {
  margin-left: 15px;
  color: #fff;
}
.bio .display-name {
  display: flex;
  align-items: center;
}
.verified {
  width: 30px;
}
.bio .list {
  font-size: 14px;
  list-style: none;
}
.bio a {
  color: #c6e4ff;
}
span {
  color: #c6e4ff;
  cursor: pointer;
}
.following {
  font-size: 10px;
}
/*************************/
/*******************************************/

/**********************SCROLL********************/
.scroll {
  display: flex;
  max-height: 150px;
  overflow-x: auto;
  width: 100%;
  padding: 20px 0;
  justify-content: space-between;
  margin: auto;
  color: #fff;
}
.scroll::-webkit-scrollbar {
  width: 0px;
}
.scroll .img-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: 1px solid #808080;
  border-radius: 100px;
}
.scroll .img {
  border-radius: 100px;
  width: 50px;
}
.scroll .scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  font-size: 12px;
  text-align: center;
}
.cta {
  padding: 15px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  cursor: pointer;
  color: #c6e4ff;
  text-align: center;
}
.navbar {
  width: 100%;
  height: 7vh;
  background-color: #1a1a1a;
  z-index: 90000;
  bottom: 0;
  position: fixed;
}
.navbar-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 7vh;
}
.navbar-cont .fas {
  color: #fff;
  font-size: 20px;
}
.navbar-cont .far {
  color: #fff;
  font-size: 20px;
}
.btn-pfl.active {
  display: block;
}
/*****************************************************/
/**************************SUGGESTIONS********************/
.suggestion {
  display: none;
  background-color: #1a1a1a;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  border-top: 0.5px solid #dbdbdb;
  border-bottom: 0.5px solid #dbdbdb;
  display: none;
  transition: all ease 0.5s;
}
.suggestion.active {
  display: block;
  transition: all ease 0.5s;
}
.suggestion .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  height: 5vh;
  color: #fff;
}
.suggestion .all {
  color: #0095f6;
  cursor: pointer;
}
.suggested {
  display: flex;
  max-height: 300px;
  overflow-x: auto;
  width: 100%;
  color: #fff;
  padding: 20px 0;
}
.suggested::-webkit-scrollbar {
  width: 0px;
}
.suggested .profile {
  background-color: #000;
  border: 0.5px solid #808080;
  height: 150px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 35px 40px;
  margin: 0px 5px;
}
.profile .img img {
  border-radius: 100px;
  width: 90px;
}
.profile b {
  display: flex;
  font-size: 12px;
  align-items: center;
}
.profile button {
  background-color: #0095f6;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 3px 30px;
}
.profile small {
  color: #8e8e8e;
  padding: 5px 0;
}
/*****************************************************/

/*************POSTS***************************/
.posts {
  height: 75vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.posts .row {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.posts .squr {
  width: 135px;
  height: 135px;
  background-color: aqua;
}

/*****************************************************/
.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.popup {
  width: 100%;
  max-width: 200px;
  padding: 23px;
  background: #fff;
  border-radius: 5px;
  position: fixed;
  margin: 5% auto;
  top: calc(50% - 180px);
  left: calc(50% - 125px);
  display: none;
}
.popup p {
  padding: 20px;
}
.popup.active {
  display: block;
}
.unfollow-container.active {
  display: block;
}
.unfollow-container {
  width: 100%;
  max-width: 180px;
  margin: auto;
  padding: 25px 10px;
  background: #1a1a1a;
  border-radius: 15px;
  position: fixed;
  bottom: calc(50% - 100px);
  left: calc(50% - 100px);
  display: none;
}
.unfollow {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: 30vh;
  justify-content: space-between;
}
.unfollow img {
  border-radius: 100px;
  width: 40%;
}
.unfollow p {
  cursor: pointer;
}
.unfollow-btn {
  color: #ed4956;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 7px 65px;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  display: none;
}

.overlay.active {
  display: block;
}
