@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(./_loader.css);
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1a1a1a;
  font-family: Poppins;
  width: 100vw;
}
a:link {
  text-decoration: none;
  font-weight: bold;
}
a,
a:visited {
  color: #00376b;
}
/***********TOP BAR***********************/
.topbar {
  height: 7vh;
  display: flex;
  background-color: #1a1a1a;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}
/***********LEFT******/
.topbar .left {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.topbar .left .fas {
  margin-right: 10px;
  color: #fff;
}
/*************************/

/***********RIGHT******/
.topbar .right {
  margin: 0 10px;
}
/*************************/

/*******************************************/

/*******************PROFIILE*************/
.profile .cont {
  display: flex;
  justify-content: space-between;
  height: 25vh;
  margin-top: 25px;
  align-items: center;
  padding: 0 20px;
}
/***********RIGHT******/
.profile .cont .right {
  display: flex;
}
.profile .cont .right .dp {
  border-radius: 100px;
  width: 103px;
  height: 103px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 55%,
    rgba(252, 176, 69, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .cont .right .dp .pic {
  border-radius: 100px;
  width: 90px;
  border: 4px solid #1a1a1a;
}
/*************************/
/***********LEFT******/
.profile .cont .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.left .stats {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.left .stats .stat {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}
.stats .stat b {
  font-size: 16px;
}
/*********BUTTONS*******/
.buttons {
  display: flex;
  width: 95%;
  height: 10vh;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}
.buttons .btn {
  outline: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  border: 0.5px solid #fff;
  font-size: 16px;
  width: 28%;
  height: 30px;
  font-size: 14px;
  margin: 0 3px;
}
.btn.follow {
  border: none;
  background-color: #0095f6;
}
.btn.follow.hide {
  display: none;
}
.btn.following {
  display: none;
}
.btn.following.active {
  display: block;
}
.btn.arrow {
  width: 30px;
  height: 30px;
}

/*************************/
/************BIO************/
.bio {
  margin-left: 15px;
  color: #fff;
}
.bio .display-name {
  display: flex;
  align-items: center;
}
.verified {
  width: 30px;
}
.bio .list {
  font-size: 14px;
  list-style: none;
}
.list small {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}
.bio a {
  color: #c6e4ff;
}
span {
  color: #c6e4ff;
  cursor: pointer;
}
.followed-by {
  font-size: 12px;
}
/*************************/
/*******************************************/

/**********************SCROLL********************/
.scroll {
  display: flex;
  max-height: 150px;
  overflow-x: auto;
  width: 100%;
  padding: 5px 0;
  justify-content: space-between;
  margin: auto;
  color: #fff;
}
.scroll::-webkit-scrollbar {
  width: 0px;
}
.scroll .img-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border: 1px solid #808080;
  border-radius: 100px;
}
.scroll .img {
  border-radius: 100px;
  width: 60px;
}
.scroll .scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  font-size: 12px;
  text-align: center;
}
.navbar {
  width: 100%;
  height: 7vh;
  background-color: #1a1a1a;
  z-index: 90000;
  bottom: 0;
  position: fixed;
}
.navbar-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 7vh;
}
.navbar.hide {
  display: none;
}
.navbar-cont .fas {
  color: #fff;
  font-size: 20px;
}
.navbar-cont .far {
  color: #fff;
  font-size: 20px;
}
/*****************************************************/

.tabs {
  width: 100%;
}
.tabs-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 7vh;
}
/**************************SUGGESTIONS********************/
.suggestion {
  display: none;
  background-color: #1a1a1a;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  border-top: 0.5px solid #dbdbdb;
  border-bottom: 0.5px solid #dbdbdb;
  display: none;
  transition: all ease 0.5s;
}
.suggestion.active {
  display: block;
  transition: all ease 0.5s;
}
.suggestion .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  height: 5vh;
  color: #fff;
}
.suggestion .all {
  color: #0095f6;
  cursor: pointer;
}
.suggested {
  display: flex;
  max-height: 300px;
  overflow-x: auto;
  width: 100%;
  color: #fff;
  padding: 20px 0;
}
.suggested::-webkit-scrollbar {
  width: 0px;
}
.suggested .profile {
  background-color: #000;
  border: 0.5px solid #808080;
  height: 150px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 35px 40px;
  margin: 0px 5px;
}
.profile .img img {
  border-radius: 100px;
  width: 90px;
}
.profile b {
  display: flex;
  font-size: 12px;
  align-items: center;
}

.profile small {
  color: #8e8e8e;
  padding: 1px 0;
}
.suggested .profile button {
  outline: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #0095f6;
  font-size: 14px;
  padding: 5px 20px;
}
/*****************************************************/

/*************POSTS***************************/
.posts {
  height: 75vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.posts .row {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.posts .squr {
  width: 135px;
  height: 135px;
  background-color: aqua;
}

/*****************************************************/
.popup-cont {
  width: 100%;
  background: #262626;
  border-radius: 10px 10px 0 0;
  position: fixed;
  display: none;
  height: 45vh;
  top: 55%;
}
.popup-cont .popup .top {
  display: flex;
  width: 100%;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popup-cont.active {
  display: block;
}
.popup .bar {
  background-color: #303030;
  height: 5px;
  width: 60px;
  border-radius: 20px;
}
.popup p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 10px 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.popup ul {
  list-style-type: none;
  color: #fff;
  margin-left: 20px;
}
.popup ul li {
  padding: 12px;
}
.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  display: none;
}

.overlay.active {
  display: block;
}
